{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
      "import"
  ],
  "rules": {
    "no-param-reassign": "off"
  },
  "globals": {
    "jest/globals": true, 
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "test": true
  }
}
