{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
      "import"
  ],
  "rules": {
    "no-param-reassign": "off"
  },
  "globals": {
    "after": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "models": true,
    "omit": true,
    "request": true
  }
}
